@page "/component"

<h3>Component</h3>

<Card Image="/files/kowalski.png"
      BtnText="Więcej"
      Title="Jan Kowalski"
      Content="Programista C#/.NET z 20 letnim doświadczeniem.Specjalista Blazor i ASP.NET Core">

</Card>

<div class="d-flex gap-2">
     @foreach (var item in _authors)
 {
    <Card Image="@item.Image"
    BtnText="@item.BtnText"
    Title="@item.Title"
    Content="@item.Content">
    </Card>
    }
</div>
