@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Modele hostowania</p>

<ul>
    <li>Blazor Server</li>
    <li>Blazor Webassembly</li>
    <li>Blazor Server Side Rendering</li>
</ul>
